/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(white,rgb(253, 213, 220));
  background-size: auto 400vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 18px;
  height: 100vh; 
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/* Cabeçalho */
header {
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

 
.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;

}

.menu ul {
  display: flex;
  justify-content: space-around;
}
  
.menu li {
  display: block;
  padding: 10px 20px;
}
  
.menu a {
  padding: 12px 80px;
}

a {
    text-decoration: none; 
    color: #808080;
}

/* Efeito do menu */
a:hover {
    font-weight: bold;
    transition: .4s ease;
    color: rgb(230, 136, 151);
}
  
    
.site-title {
  text-align: center;
  color: 	#C0C0C0;
  font-family: 'Balsamiq Sans', cursive;
  font-style: normal;   
  text-shadow: 2px 2px rgb(114, 107, 107);
}

.site-title {
  font-size: 2em;
  font-family:'Poppins', sans-serif; 
  white-space: nowrap; 
  letter-spacing: .10em;
  
} 

.site-subtitle {
  text-align: center;
  color: #808080;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 25px;
  line-height: 2em;
 
}

.sobre,
.portfolio {
  padding: 2em;
  min-height: 110vh;
  margin-left: auto;
  margin-right: auto;

}

.sobre a {
  color: rgb(238, 132, 148);
}

.sobre .avatar {
  float: left;
  margin-right: 1em;
  
}


.sobre .avatar img {
  height: 160px;
  width: 160px; 
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(204, 150, 165, 0.87);
  
}

@media (min-width: 1200px) {
.conteiner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  
}

/* Título portifólio */
.portfolio h2 {
  font-family: 'Poppins', sans-serif;
  color: #808080;
  margin-bottom: 2em;
  font-size: 1.2em;
  text-align: center;
}   


/* Legenda das imagens */
.portfolio .grid {
  display: grid;  
  gap: 1em;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: gray;
  
}


@media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
}
    
@media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 260px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px);  
}}


.portfolio figure {
  text-align: center;
 
}

.img-portfolio {
  height: 150px;
  width: 160px; 
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(204, 150, 165, 0.87);
  object-fit: cover;
  object-position: left bottom;
}

.img-portfolio:hover {
  transition: .3s ease;
  transform: scale(1.06);
  opacity: 0.9;

}

.sobre p {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: gray;
  text-indent: 1em;
  text-align: justify;
  margin-bottom: 1.5em;
}

.sobre .alura {
  text-align: center;
  background-color: white;
  opacity: 0.8;
  margin-top: 2em;
} 


.sobre,
.contato {
  margin-top: 2em;
  padding: 1em;
}

/* Título Contato */
.sobre h2,
.contato h2 {
  font-family: 'Poppins', sans-serif;
  color: #808080;
  margin-bottom: 1em;
  font-size: 1.2em;
  text-align: center;
  padding: 2em;
}


.contato a {
  text-align: center;
  font-size: 2em;
  color: gray;
  text-shadow: 1px 1px rgba(204, 150, 165, 0.87);
  padding: 2em;

}

.contato a:hover {
  color: rgb(238, 132, 148);
  transition: .4s ease;
}


.contato .grid2 {
  display: row;
  text-align:center;
  justify-content: space-evenly;
  gap: 1.5em;
  
}
